USE [master]
GO
/****** Object:  Database [TorneoAnual]    Script Date: 27/04/2021 06:38:58 p. m. ******/
CREATE DATABASE [TorneoAnual]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TorneoAnual', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TorneoAnual.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TorneoAnual_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TorneoAnual_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TorneoAnual].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TorneoAnual]
GO
/****** Object:  Table [dbo].[Alimentos]    Script Date: 27/04/2021 06:38:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimentos](
	[id_user] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_cat] [int] NOT NULL,
	[descripcion] [varchar](25) NOT NULL,
	[tipo] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cerveza]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cerveza](
	[id_user] [int] NOT NULL,
	[countCervezas] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clausura]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clausura](
	[id_user] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Concierto]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concierto](
	[id_user] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Golf]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Golf](
	[id_user] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inaguracion]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inaguracion](
	[id_user] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tennis]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tennis](
	[id_user] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneo]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneo](
	[id_torneo] [int] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
	[lugar_sede] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_torneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](40) NOT NULL,
	[apellidoP] [varchar](20) NOT NULL,
	[apellidoM] [varchar](20) NOT NULL,
	[correo] [varchar](20) NOT NULL,
	[tel] [varchar](20) NOT NULL,
	[club] [varchar](20) NOT NULL,
	[id_cat] [int] NOT NULL,
	[huella] [varbinary](max) NULL,
	[id_torneo] [varchar](20) NOT NULL,
	[fecha_registro] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Categoria] ([id_cat], [descripcion], [tipo]) VALUES (1, N'Profesional', N'T')
INSERT [dbo].[Categoria] ([id_cat], [descripcion], [tipo]) VALUES (2, N'1ra', N'T')
INSERT [dbo].[Categoria] ([id_cat], [descripcion], [tipo]) VALUES (3, N'2da', N'T')
GO
INSERT [dbo].[Inaguracion] ([id_user], [fecha]) VALUES (2, CAST(N'2021-04-26T21:04:04.667' AS DateTime))
GO
INSERT [dbo].[Torneo] ([id_torneo], [fecha_inicio], [fecha_fin], [lugar_sede], [descripcion]) VALUES (1, CAST(N'2016-10-23T20:44:11.000' AS DateTime), CAST(N'2016-10-23T20:44:11.000' AS DateTime), N'Campestre Torreon', N'Torneo Anual')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  StoredProcedure [dbo].[Alta]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Alta]
(
	@nombre nvarchar(40),
	@apellidoP varchar(20),
	@apellidoM varchar(20),
	@correo varchar(20),
	@tel varchar(20),
	@club varchar(20),
	@id_cat int,
	@Huella varbinary(max) = NULL,
	@id_torneo varchar(20),
	@fecha_registro datetime,
	@Id int OUTPUT
)
AS
INSERT INTO Usuario(nombre, apellidoP, apellidoM, correo, tel, club, id_cat, huella, id_torneo, fecha_registro)
VALUES(@nombre, @apellidoP, @apellidoM, @correo, @tel, @club, @id_cat, @huella, @id_torneo, @fecha_registro)

SET @Id = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[Muestra]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Muestra]
AS
SELECT * FROM Usuario
GO
/****** Object:  StoredProcedure [dbo].[Repo_Inaguracion]    Script Date: 27/04/2021 06:38:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Repo_Inaguracion] 
(
@fechaIn date,
@fechaFin date
)
as 
begin 
SELECT  nombre, apellidoP, id_cat, club, fecha
 from Inaguracion  
 INNER JOIN Usuario 
 on Inaguracion.id_user = Usuario.id  where fecha between @fechaIn and @fechaFin

 end
GO
USE [master]
GO
