<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TorneoAnual.Properties.Settings.TorneoAnualConnectionString"
            connectionString="Data Source=DESKTOP-JH5TK9P;Initial Catalog=TorneoAnual;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>